@import "../../scss/variable";
.navbar {
  box-shadow: $shadow;
  padding: 1.2rem 2rem;
  &-container {
    display: flex;
    align-items: center;
    &-search {
      display: flex;
      align-items: center;
      width: 50%;
      & > input {
        margin-right: -2rem;
        padding: 0.5rem 1rem;
        width: 70%;
        border: 1px solid rgba(61, 60, 60, 0.701);
        border-radius: 2rem;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 1.2rem;
        }
      }
    }
    &-right {
      width: 100%;
      &-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > * {
          margin-right: 3.5rem;
        }
        &-language {
          font-size: 1.3rem;
          font-weight: 300;
          & > * {
            &:not(:last-child) {
              margin-right: 0.3rem;
            }
          }
        }
        &-icon {
          font-size: 1.3rem;
        }
        &-noti {
          font-size: 1.3rem;
          position: relative;

          &::before {
            content: attr(data-count);
            position: absolute;
            top: -3px;
            right: -2px;
            width: 1rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: red;
            color: white;
            font-size: 1rem;
          }
        }
        &-profile {
          & > img {
            height: 2.5rem;
            width: 2.5rem;
            object-fit: contain;
          }
        }
      }
    }
  }
}
